@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: black;
}

.app {
  background-color: beige;

  .container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
